$red-color: red;
$green-color: green;
$white-color: white;

.background--red {
	background-color: $red-color;
}

.background--green {
	background-color: $green-color;
}

.background--white {
	background-color: $white-color;
}